@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-text-color :#183b56;
  --secondary-text-color :#577592 ;
  --accent-color:#2294ed;
  --padding-inline-section:20px;
  --primary-text-color-dark:#1d69a3;
}

body{
  font-family: 'poppins' , sans-serif;
  color: var(--primary-text-color);
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p{
  font-family: 'Roboto' , sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a{
  text-decoration: none;
  display: inline-block;
}

ul{
  list-style: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* utility classes */
.small-bold-text{
  font-size: 1.5rem;
  font-weight: 700;
}

.container{
  max-width: 1180px;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-inline:var(--padding-inline-section) ;
  overflow: hidden;
}

.flex{
  display: flex;
  align-items: center;
}

/* section{
  align-items: center;
  display: grid;
  position: relative;
  text-align: center;
} */

.primary-button{
  background-color: rgb(175, 42, 42);
  border-radius: 6px;
  color: white !important;
  font-weight: 700;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-in-out;
  text-align: center;
}

.primary-button:hover{
  background-color: var(--primary-text-color-dark);
  cursor: pointer;
}

/* Navbar styles */

.nav1{   
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/4299146.jpg");
}

.main-nav{
  justify-content: space-between;
  padding-top: 20px;
  position: relative;
}

.nav-links{
  /* transition: 0.3s ease-in-out; */
  flex-basis: 730px;
}

.nav-links ul{
  justify-content: end;
  gap: 20px;
}

.hover-link{
  transition: 0.2s ease-in-out;
  color: var(--primary-text-color-dark);
}

.hover-link:hover{
  color: var(--accent-color);
}

.text-box{
  top: 50%;
  left: 50%;
  width: 90%;
  flex-direction: column;
  text-align: center;
  color: var(--accent-color);
  position: absolute;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}

.text-box p {
  margin-top: 10px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
}

/* .text-box h1{
  font-size: 22px;
  line-height: 33px;
  color: white;
  text-align: start;
} */

.company-logo img{
  border-radius: 20px;
}

.logo-text{
  text-align: center;
  align-items: center;
  margin-left: 10px;
  letter-spacing: 2px;
  color: var(--primary-text-color-dark);
}

.nav-toggle{
  display: none;
}

/* services section styles */
.serv-head{
  text-align: center;
  margin-block: 50px;
  flex-direction: column;
}

.red-line{
  width: 100px;
  height: 3px;
  background-color: red;
  align-items: flex-start;
}

.card-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* justify-content: space-between; */
  margin-top: 30px;
  gap: 20px;
  
}

.card {
  /* width: calc(25% - 20px);  */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
  /* max-width: 50%; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

/* .card:hover img {
  transform: scale(1.1); /* Zoom in the image on hover 
*/

/*  Big Feature section styles */
/* .big-features-section{
  padding: 30px var(--padding-inline-section) 0;
} */

#second-big-feature{
  flex-direction: row-reverse;
}

.big-feature-container{
  gap: 30px;
}

.feature-img img{
  width: 570px;
  border-radius: 6px;
}

.feature-desc{
  flex-direction: column;
  align-items: flex-start;
}

/* About Us page styles */
.header{
  padding: 20px var(--padding-inline-section) 0;
}

.header-section{
  justify-content: center;
  /* gap: 10px; */
}

.header-right img{
  width: 100%;
  /* align-items: center; */
  /* margin-top: 50px; */
  
}

.header-left {
  max-width: 40vw;
} 

.header-left h1{
  margin-top: 10px;
}

/* portfolio section styles */
.wrapper{ 
  display: flex;
  max-width: 1180px;
  position: relative;
  padding-bottom: 20px;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 100%;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}


/* footer section styles */
footer{
  padding-block: 80px;
  background-color: #ebf2fa;
}

.link-column{
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-container{
  justify-content: space-between;
  align-items: flex-start;
}

/* .company-logo{
  align-items: flex-start;
} */

/* small footer */
.sub-footer{
  background-color: #b9cde4;
  padding: 10px;
}

.rules{
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.small-footer{
  justify-content: space-between;
}

.social-media-icons{
  justify-content: space-between;
  gap: 20px;
  padding-block: 10px;
  margin-left: 20px;
}

.soc-icon{
  width: 20px;
}

/* why us page styles */
.yus-container{
  margin-top: 50px;
}
.yus-container h1{
  text-align: center;
}
.yus-items img{
  width: 142px;
  height: 150px;
}
.yus-items{
  justify-content: space-between;
  flex-wrap: wrap;
}
.end-end{
  margin-top: 20px;
}
.end-end p{
  text-align: center;
}

/* Faq section styles */

.faq-section{
  background-color: #f9f4f4;
  padding-block: 100px;
}

.faq h1{
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.faq{
  flex-direction: column;
  gap: 20px;
}

.faq .tab{
  background-color: white;
  padding: 0 20px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
}

.faq .tab input{
  appearance: none;
}

.faq .tab label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq .tab label::after{
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  transition:transform 1s;
}

.faq .tab:hover label::after{
  color: #333;
}

.faq .tab input:checked ~ label::after{
  transform: rotate(135deg);
}

.faq .tab label h2{
  width: 40px;
  height: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
}

.faq .tab label h3{
  position: relative;
  font-weight: 500;
  
  z-index: 10;
}

.faq .tab .content{
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.faq .tab input:checked ~ .content{
  max-height: 100vh;
}

.faq .tab .content p{
  position: relative;
  padding: 10px 0;
  z-index: 10;
  color: var(--secondary-text-color);
}


/* scroll animatio styles */
.scroll-text{
  transform: translateX(-50%) rotate(90deg);
  margin-left: 10px;
  color: rgb(255, 255, 255);
}
.scroll-container{
  top: 85%;
  right: 0;
  position: fixed;
}

.mouse-scroll{
  width: 1.9rem;
  height: 6em;
  border: solid 2px #000000;
  border-radius: 30px;
  position: relative;
}

.mouse-scroll::before{
  content: '';
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background: #ff0000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2.5s infinite;
}
@keyframes scroll{
  0%{
    bottom: 80%;
    opacity: 1;
  }
  100%{
    bottom: 20%;
    opacity: 0;
  }
}

/* modal styles */
.form-radio-gp label{
  color: #666666;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 8px;
  border: 2px solid #666666;
  font-size: 14px;
  border-radius: 5px;
  margin: 0;
  line-height: 1;
}
.form-radio-gp input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
  
}
.text-input {
  border: none;
  border-bottom: 3px solid #cfcece;
  margin-top: px;
  font-size: 16px;
  color: #666666;
  padding-left: 5px;
  padding-top: 0;
  line-height: 1;
}
.form-check-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.form-dropdown {
  border: none;
  border-bottom: 3px solid #cfcece;
  font-size: 16px;
  color: #666666;
}
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.countryFlag {
  display: flex;
  align-items: center;
}
button, input {
  overflow: visible;
}
.popupForm .select2-selection--single {
  background: transparent !important;
  border: none !important;
  border-bottom: 3px solid #cfcece !important;
  border-radius: 0px !important;
  font-size: 16px !important;
  background-position-x: 100% !important;
  background-size: 25% !important;
  height: 38px !important;
  padding: 6px 0px;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}
.form-select-message {
  margin-bottom: 0;
  font-style: initial;
  font-size: 0.9rem;
}
.modal-right{
  align-items: flex-start;
  text-align: start;
}
.mobile-phone-ext {
  margin-left: 8px;
  height: 28px;
}
.text-input {
  border: none;
  border-bottom: 3px solid #cfcece;
  margin-top: 12px;
  font-size: 16px;
  color: #666666;
  padding-left: 5px;
  padding-top: 0;
  line-height: 1;
}
.form-radio-gp{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
#popup-phone{
  outline: 0;
}
#popup-phone:valid{
  border-color: green;
}
#popup-phone:focus:invalid{
  border-color: red;
}
input[type="radio"]:checked + label {
  background-color: rgb(62, 60, 60); /* Change this to your desired background color */
  color: #fff; /* Change text color when selected if needed */
}
.modal {
  display: none;
  background: gray;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding-block: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 8px rgb(81, 77, 77);
}

/* .modal .modal-img{
  width: 400px;
  height: 400px;
} */

/* .modal-content { */
  /* position: absolute;
  
  background-color: #fff;
  padding: 20px; */

  /* position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: row;
  width: 100%;
  border: 3px solid red;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0; */
/* } */

.modal-size {
  max-width: 1120px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* .radio-gp input[type="radio"]:checked {
  background-color: red;
} */

/* animation */
/* .hidden{
  opacity: 1;
  filter: blur(1px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}
.show{
  opacity: 0;
  filter: blur(0);
  transform: translateX(0);
} */





/* end to end services styles */
.end-icons img {
  width: 70px;
  
}
.end-icons{
  text-align: center;
  
  /* padding-block: 30px;
  padding-left: 30px;
  padding-right: 30px; */
}
.end-to-icons{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  gap: 30px;
  margin-top: 30px;
  
  /* flex-wrap: wrap;
  justify-content: space-evenly; */
}
.end-end{
  margin-top: 40px;
}

/* whats-icon-float styles */
.whatsapp-float{
  position: fixed;
  right: 10px;
  bottom: 40px;
}













/* media queries */
/* @media only screen and (min-width:2560px) {
  
  h1 {
    font-size: 70px;
  }

  p{
    font-size: 50px;
  }

  ul li{
    font-size: 25px;
  }
} */


/* responsive design */
@media screen and (max-width:991px) {
  .nav-toggle{
      display: block;
      margin-right: 20px;
  }

  .main-nav{
    overflow: initial;
  }

  .nav-links{
     position: absolute;
     background-color: #EBE2D9;
     left: -100%;
     top: 100%;
     z-index: 1;
     width: 100%;
     padding-block: 20px;
     transition: 0.2s ease-in-out;
  }

  .nav-privacy .nav-links{
    position: absolute;
    background-color: white;
    left: -100%;
    top: 100%;
    z-index: 1;
    width: 100%;
    padding-block: 20px;
    transition: 0.2s ease-in-out;
 }

 .nav-links.active{
      left: 0;
  }

  .nav-links ul{
      flex-direction: column;
  }

  h3{
      font-size: 1.2rem;
  }
}

@media screen and (max-width:768px) {

  .problem-left-section{
      text-align: center;
  }
  
  /* .primary-button{
      width: 100%;
  } */

  .header-section{
      flex-direction: column;
  }

  .header-left {
      max-width: 100vw;
      text-align: center;
  } 

  .features-card{
      min-width: calc(50% - 10px);
  }

  .big-feature-container, #second-big-feature {
      flex-direction: column;
  }
  .feature-desc{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
  }
  .big-feature-container{
    gap: 0;
  }

  .problem-section-container{
      flex-direction: column-reverse;
  }

  .footer-container{
      flex-direction: column;
      gap: 40px;
      align-items: center;
      text-align: center;
  }

  .link-column{
      align-items: stretch;
  }

  .small-footer{
      flex-wrap: wrap;
  }
}

@media screen and (max-width:479px) {
    
  :root{
    --padding-inline-section:10px;
  }

  h1{
      font-size: 2rem;
  }
  
  h2{
      font-size: 1.5rem;
  }
  
  h3{
      font-size: 1.25rem;
  }

  p{
      font-size: 1rem;
  }

  .features-card{
      min-width: 100%;
  }
  .feature-img{
    padding-left:10px;
    padding-right: 10px;
  }
  
  .examples-card{
      width: 100%;
  }

  .company-logo img{
    width: 50px;
    height: 50px;
  }
}

/* css animations */

/* @keyframes fade{
  from{
    transform: translateY(200px);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
  0%{
    opacity: 0;
  }
} */

@keyframes slideInleft{
  from{
    transform: translateX(-50px);
  }
  to{
    transform: translateX(0);
  }
}

.slideInleft{
  animation: slideInleft  1s ease-in ;
  animation-timeline: view();
  animation-range: entry  contain 50%;
}

@keyframes slideInright{
  from{
    transform: translateX(+50px);
  }
  to{
    transform: translateX(0);
  }
}

.slideInright{
  animation: slideInright 1s ease-in;
  animation-timeline: view();
  animation-range: entry  contain 50%;
}

@keyframes end-to-icons-animation{
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}
.end-to-icons-animation{
  animation: end-to-icons-animation 1s ease-in;
  animation-timeline: view();
  animation-range: entry 50% contain 50%;
}



/* privacy page styles */

.privacy-container{
  margin-top: 50px;
}

.privacy-container p{
  margin-block: 20px;
}

/* blogs styling */
.blog-details{
  margin-block: 40px;
}

.blog-details h4{
  margin-top: 10px;
}

.blog-details h3{
  margin-top: 10px;
}
.blog-content{
  width: 100%;
  margin: 30px auto 30px;
}

.blog-content .blog-main-content{
  width: 100%;
  float: left;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.blog-content .blog-main-content .recent-post-title{
  margin: 20px;
}

.blog-content .blog-main-content .post{
  width: 95%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
  background:white;
  position: relative;
}
.blog-content .blog-main-content .post .blog-read-more{
  margin-left: 20px;
  margin-top: 20px;
}

.blog-content .blog-main-content .post .post-image{
  width: 40%;
  height: 100%;
  float: left;
}
.blog-content .blog-main-content .post .post-preview{
  width: 100%;
  padding: 10px;
  float: right;
}

.blog-content-sub-numers{
  margin-block: 10px;
  column-gap: 40px;
  padding-left: 20px;
}

.blog-content-sub-numers p{
  margin-block: 20px;
}
